---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">

    </style>
    <script type="text/javascript">

    </script>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">

        <!-- Post Container -->
        <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
            {{ content }}
        </div>
        <!-- Right Sidebar Container -->
        <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-right-container
            ">

            <!-- Personal Info Shortcut -->
            <div>
                <hr><h5><a href="/about/">ABOUT ME</a></h5>
                <div class="short-about">
                    {% if site.sidebar-portrait %}
                    <img src="{{site.sidebar-portrait}}" />
                    {% endif %}
                    {% if site.sidebar-personal-desc %}
                    <p>{{site.sidebar-personal-desc}}</p>
                    {% endif %}
                    <!-- SNS Link -->
                    <ul class="list-inline">
                        {% if site.RSS %}
                        <li>
                            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if site.github_username %}
                        <li>
                            <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if site.zhihu_username %}
                        <li>
                            <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if site.weibo_username %}
                        <li>
                            <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="tags">
                <h5><a href="/tags">TAG CLOUD</a></h5>
                <div id="tag-cloud">
                    {% for tag in site.tags %}
                    <a name="tag" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
